<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="projetoFactory">
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/siseve</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		<property name="show_sql">false</property>
		<property name="use_outer_join">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.use_sql_comments">true</property>
		<mapping class="br.com.mobiew.siseve.model.entity.Atendimento" />
		<mapping class="br.com.mobiew.siseve.model.entity.Cliente" />
		<mapping class="br.com.mobiew.siseve.model.entity.Evento" />
		<mapping class="br.com.mobiew.siseve.model.entity.Servico" />
		<mapping class="br.com.mobiew.siseve.model.entity.Profissional" />
		<mapping class="br.com.mobiew.siseve.model.entity.Usuario" />
	</session-factory>
</hibernate-configuration>
